@font-face {
    font-family: "Raleway";
    src: url(./../fonts/Raleway-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-ExtraBold.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Dongle";
  src: url(./../fonts/Dongle-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "RadioCanada";
  src: url(./../fonts/RadioCanada-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
    --font-family: "Relawey", sans-serif;
    --container-big: 1920px;
    --container-width: 1620px;
    --container-offset: 15px;
    --container-standart: calc(var(--container-width) + (var(--container-offset) * 2));
    --standart-text-color: #000;
    --bg-color: #F4F3F3;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--standart-text-color);
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

article {
    display: inline-block;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: var(--container-standart);
    padding: 0 15px;
    margin: 0 auto;
}

.container-big {
    max-width: var(--container-big);
    margin: 0 auto;
}

.header {
    padding: 17px 0;
    background-color: var(--bg-color);
}

.header__logo {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.header__logo span {
    font-family: "Dongle";
    font-size: 26px;
    line-height: 0.5;
    color: var(--standart-text-color);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.nav__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 45px;
    column-gap: 45px;
}

.nav__link {
    font-family: "CenturyGothic";
    font-size: 14px;
    line-height: 1.214;
    color: var(--standart-text-color);
}

.button {
    padding: 19px 35px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0.02em;
    font-family: "CenturyGothic";
    background-color: var(--bg-color);
    border: 1px solid var(--standart-text-color);
    border-radius: 20px;
}

.projects {
    background-color: var(--bg-color);
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.projects__two-row {
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.projects__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    z-index: 1;
}

.projects img {
    overflow: hidden;
}

.projects-blur {
    position: relative;
}

.projects-blur:hover img {
    filter: blur(5px);
    overflow: hidden;
    box-shadow: 0 0 0px 0px white inset;
}

.projects-blur:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.projects-blur:hover .projects__name {
    color: rgb(255, 255, 255);
}

.footer {
    padding: 50px 0px 150px;
    background-color: var(--bg-color);
}

.footer__line {
    width: 1620px;
    height: 1px;
    margin: 0 auto 60px;
    border: 1px solid #9C9C9C;
}

.footer__soc {
    margin: 0 auto;
    max-width: 283px;
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.footer__svg {
    fill: #717171;
}

.footer__svg path {
    fill: #E6E6E6;
}

.footer__svg:hover circle {
    fill: #8888FD;
}