@font-face {
    font-family: "Raleway";
    src: url(./../fonts/Raleway-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-ExtraBold.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Dongle";
  src: url(./../fonts/Dongle-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "RadioCanada";
  src: url(./../fonts/RadioCanada-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
    --font-family: "Raleway", sans-serif;
    --container-big: 1920px;
    --container-width: 1620px;
    --container-offset: 15px;
    --container-standart: calc(var(--container-width) + (var(--container-offset) * 2));
    --standart-text-color: #000;
    --active-text-color: #0E0E0F;
    --alternative-text-color: #828282;
    --accent-text-color: #717171;
    --bg-color: #F4F3F3;
    --line-color: #9C9C9C;
    --hover-text-color: #CBCBCB;
    --button-color: #E6E6E6;
    --floor-active-color: #8888FD;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--standart-text-color);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1 1 auto;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

article {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.none {
    display: none;
}

.rotate-img {
    transform: rotate(180deg);
}

.container {
    max-width: var(--container-standart);
    padding: 0 15px;
    margin: 0 auto;
}

.container-big {
    max-width: var(--container-big);
    margin: 0 auto;
}

.container-s {
    max-width: var(--container-standart);
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .container-s {
        padding: 0 0px;
    }
}

.line {
    max-width: 1620px;
    height: 1px;
    border: 1px solid var(--line-color);
}

.header {
    padding: 17px 0;
    background-color: var(--bg-color);
}

.header__logo {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.header__logo span {
    font-family: "Dongle";
    font-size: 26px;
    line-height: 0.5;
    color: var(--standart-text-color);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

@media (max-width: 700px) {
    .nav {
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 45px;
    column-gap: 45px;
}

@media (max-width: 700px) {
    .nav__list {
        -moz-column-gap: 25px;
        column-gap: 25px;
    }
}

@media (max-width: 576px) {
    .nav__list {
        -moz-column-gap: 0px;
        column-gap: 0px;
        row-gap: 30px;
    }
}

@media (max-width: 576px) {
    .nav__list {
        display: none;
        flex-direction: column;
        -moz-column-gap: 0;
        column-gap: 0;
        row-gap: 60px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding-top: 100px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
        align-items: center;
        z-index: 14;
    }
}

.nav__link {
    font-family: "CenturyGothic";
    font-size: 14px;
    line-height: 1.214;
    color: var(--standart-text-color);
    position: relative;
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background-color: var(--alternative-text-color);
    transition: width 0.2s ease;
}

.nav__link:hover::after {
    width: 100%;
}

@media (max-width: 576px) {
    .nav__link {
        font-family: "CenturyGothic";
        font-size: 28px;
        color: #fff;
    }
}

.nav__menu-mob--active {
    display: flex;
}

.button {
    padding: 19px 35px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0.02em;
    font-family: "CenturyGothic";
    background-color: var(--bg-color);
    border: 1px solid var(--standart-text-color);
    border-radius: 20px;
    transition: box-shadow 0.1s ease-in;
}

.button:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .button {
        padding: 17px 20px;
    }
}

@media (max-width: 576px) {
    .button {
        padding: 30px 35px;
        font-size: 24px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
    }
}

.swiper-button-prev,
.swiper-button-next {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--accent-text-color);
}

.projects {
    background-color: var(--bg-color);
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (max-height: 991px) {
    .projects__wrapper {
        row-gap: 5px;
    }
}

.projects__two-row {
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

@media (max-height: 991px) {
    .projects__two-row {
        -moz-column-gap: 5px;
        column-gap: 5px;
    }
}

@media (max-width: 767px) {
    .projects__two-row {
        -moz-column-gap: unset;
        column-gap: unset;
        row-gap: 5px;
        flex-direction: column;
    }
}

.projects__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    z-index: 1;
}

.projects img {
    overflow: hidden;
}

.projects-blur {
    position: relative;
}

.projects-blur:hover img {
    filter: blur(5px);
    overflow: hidden;
    box-shadow: 0 0 0px 0px white inset;
}

.projects-blur:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.projects-blur:hover .projects__name {
    color: rgb(255, 255, 255);
}

.price {
    font-family: "Raleway";
    background-color: var(--bg-color);
}

.price__nav {
    text-align: center;
    margin-bottom: 56px;
}

@media (max-width: 575px) {
    .price__nav {
        margin-bottom: 20px;
    }
}

.price__nav p {
    font-size: 14px;
    line-height: 1.142;
    margin-bottom: 15px;
}

.price__nav-button-wrapper {
    display: flex;
    -moz-column-gap: 40px;
    column-gap: 40px;
    justify-content: center;
}

@media (max-width: 575px) {
    .price__nav-button-wrapper {
        margin: 0 auto;
        flex-direction: column;
        -moz-column-gap: 0px;
        column-gap: 0px;
        row-gap: 15px;
        max-width: 200px;
    }
}

.price__nav-privat, .price__nav-public {
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--accent-text-color);
    border-radius: 20px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease-in, color 0.1s ease-in, border 0.1s ease-in, box-shadow 0.1s ease-in;
}

.price__nav-privat:hover, .price__nav-public:hover {
    border: 1px solid var(--standart-text-color);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.price__nav-privat.active, .price__nav-public.active {
    border: 1px solid var(--standart-text-color);
    color: var(--standart-text-color);
}

.price__nav-privat {
    padding: 20px 65px 20px 66px;
}

.price__nav-public {
    padding: 20px 42px;
}

.price__title {
    padding: 40px 0 36px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    color: var(--standart-text-color);
}

.price__item {
    padding: 24px 0 38px;
}

.price__header {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 575px) {
    .price__header {
        margin-bottom: 10px;
    }
}

.price__header-name {
    margin-right: 20px;
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--standart-text-color);
}

@media (max-width: 767px) {
    .price__header-name {
        font-size: 19px;
    }
}

@media (max-width: 575px) {
    .price__header-name {
        font-size: 13px;
        margin-right: 10px;
    }
}

.price__header-private {
    flex: 0 0 200px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--alternative-text-color);
}

@media (max-width: 767px) {
    .price__header-private {
        flex: 0 0 150px;
        font-size: 19px;
    }
}

@media (max-width: 575px) {
    .price__header-private {
        flex: 0 0 75px;
        font-size: 13px;
    }
}

.price__header-public {
    flex: 0 0 200px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--alternative-text-color);
}

@media (max-width: 767px) {
    .price__header-public {
        flex: 0 0 150px;
        font-size: 19px;
    }
}

@media (max-width: 575px) {
    .price__header-public {
        flex: 0 0 75px;
        font-size: 13px;
    }
}

.price__elems {
    padding-bottom: 5px;
    display: flex;
}

.price__elems-name {
    margin-right: 20px;
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 1.15;
    color: var(--standart-text-color);
}

@media (max-width: 767px) {
    .price__elems-name {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .price__elems-name {
        font-size: 13px;
        margin-right: 10px;
    }
}

.price__elems-private {
    flex: 0 0 200px;
    font-family: "CenturyGothic";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: var(--alternative-text-color);
}

@media (max-width: 767px) {
    .price__elems-private {
        flex: 0 0 150px;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .price__elems-private {
        flex: 0 0 75px;
        font-size: 13px;
    }
}

.price__elems-public {
    flex: 0 0 200px;
    font-family: "CenturyGothic";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: var(--alternative-text-color);
}

@media (max-width: 767px) {
    .price__elems-public {
        flex: 0 0 150px;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    .price__elems-public {
        flex: 0 0 75px;
        font-size: 13px;
    }
}

.price__elems-name-text {
    margin-top: 15px;
}

.price__ul {
    padding-left: 20px;
    margin-bottom: 25px;
}

.price__li {
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
    position: relative;
}

@media (max-width: 767px) {
    .price__li {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .price__li {
        font-size: 11x;
    }
}

.price__li::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--standart-text-color);
    top: 7px;
    left: -15px;
    transform: translateY(-50%);
}

.price__li span {
    font-weight: 800;
    font-size: 20px;
}

.price__term {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
}

@media (max-width: 767px) {
    .price__term {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .price__term {
        font-size: 11px;
    }
}

.price__term span {
    font-weight: 800;
    font-size: 20px;
}

.price__grey {
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--accent-text-color);
}

@media (max-width: 767px) {
    .price__grey {
        font-size: 13px;
    }
}

@media (max-width: 575px) {
    .price__grey {
        font-size: 11px;
    }
}

.price__sub-ul {
    margin: 20px 0;
}

@media (max-width: 575px) {
    .price__sub-ul {
        margin: 10px 0;
    }
}

.price__sub-li {
    font-size: 12px;
    line-height: 1.1666;
    color: var(--standart-text-color);
    position: relative;
}

.price__sub-li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--standart-text-color);
    top: 5px;
    left: -10px;
    transform: translateY(-50%);
}

.arrow-left {
    display: inline-block;
    padding: 0 10px;
    pointer-events: none;
}

.arrow {
    pointer-events: none;
}

.arrow__wrapper {
    display: flex;
    align-items: center;
    -moz-column-gap: 15px;
    column-gap: 15px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .arrow__wrapper {
        -moz-column-gap: 5px;
        column-gap: 5px;
    }
}

.arrow__wrapper p {
    pointer-events: none;
}

.arrow__sub-wrapper {
    cursor: pointer;
}

.about {
    padding-top: 69px;
}

.about__row {
    display: flex;
    -moz-column-gap: 260px;
    column-gap: 260px;
}

@media (max-width: 1400px) {
    .about__row {
        -moz-column-gap: 100px;
        column-gap: 100px;
    }
}

@media (max-width: 991px) {
    .about__row {
        padding: 30px 0 0;
        -moz-column-gap: unset;
        column-gap: unset;
        flex-direction: column;
    }
}

.about__title {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    color: var(--standart-text-color);
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about__footer {
        margin: 40px auto 0;
        text-align: center;
    }
}

.about__footer-soc {
    margin-top: 30px;
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.about__img {
    margin-top: 40px;
    width: 100%;
}

.about__img img {
    -o-object-fit: contain;
    object-fit: contain;
}

.content__wrapper {
    width: 320px;
}

@media (max-width: 991px) {
    .content__wrapper {
        width: 100%;
        height: unset;
    }
}

.content__wrapper p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
}

.content__wrapper p span {
    font-weight: 600;
}

.project {
    font-family: "Raleway";
    background-color: var(--bg-color);
}

.project__img {
    position: relative;
}

.project__img .button-wrapper {
    position: absolute;
    flex-direction: column;
    row-gap: 5px;
    display: flex;
    right: 50px;
    bottom: 20px;
}

@media (max-width: 1200px) {
    .project__img .button-wrapper {
        right: 20px;
        bottom: 15px;
    }
}

@media (max-width: 576px) {
    .project__img .button-wrapper {
        right: 5px;
        bottom: 5px;
    }
}

.project__img .button-wrapper .button-el {
    padding: 15px 30px;
    font-family: "CenturyGothic";
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--standart-text-color);
    background-color: var(--button-color);
    border: none;
    outline: none;
}

.project__img .button-wrapper .button-el:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 767px) {
    .project__img .button-wrapper .button-el {
        font-size: 12px;
        padding: 7px 10px;
    }
}

@media (max-width: 576px) {
    .project__img .button-wrapper .button-el {
        font-size: 10px;
        padding: 5px 7px;
    }
}

.project__img img {
    width: 100%;
    height: calc(100vh - 74px);
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 991px) {
    .project__img img {
        height: auto;
    }
}

.project__content {
    padding-top: 75px;
    padding-bottom: 50px;
}

@media (max-width: 700px) {
    .project__content {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .project__content {
        padding-top: 30px;
    }
}

.project__title {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.667;
    color: var(--standart-text-color);
}

@media (max-width: 700px) {
    .project__title {
        font-size: 42px;
        font-weight: 700;
    }
}

@media (max-width: 500px) {
    .project__title {
        font-size: 36px;
    }
}

@media (max-width: 410px) {
    .project__title {
        font-size: 26px;
    }
}

.project__description {
    font-family: "CenturyGothic";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--standart-text-color);
}

@media (max-width: 500px) {
    .project__description {
        font-size: 14px;
        font-weight: 600;
    }
}

.project__description span {
    font-weight: 400;
}

.slider {
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding: 0 50px;
}

@media (max-width: 991px) {
    .slider {
        padding: 0 0px;
    }
}

.slider-container {
    margin-bottom: 145px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider-nav {
    max-width: 185px;
    max-height: 840px;
    flex-shrink: 0;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .slider-nav {
        max-width: 150px;
        max-height: 700px;
    }
}

@media (max-width: 1200px) {
    .slider-nav {
        max-width: 110px;
        max-height: 600px;
    }
}

@media (max-width: 991px) {
    .slider-nav {
        display: none;
    }
}

.slider-main {
    overflow: hidden;
    max-height: 840px;
}

.slider-main .swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.slider-nav .swiper-slide {
    max-width: 185px;
    height: auto;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .slider-nav .swiper-slide {
        max-width: 150px;
    }
}

@media (max-width: 1200px) {
    .slider-nav .swiper-slide {
        max-width: 110px;
    }
}

.slider-nav .swiper-slide img {
    display: block;
    width: 185px;
    height: 185px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 1400px) {
    .slider-nav .swiper-slide img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1200px) {
    .slider-nav .swiper-slide img {
        width: 110px;
        height: 110px;
    }
}

.plane {
    padding-bottom: 138px;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

@media (max-width: 991px) {
    .plane {
        flex-direction: column;
        padding-bottom: 30px;
    }
}

.plane__img {
    max-width: 1196px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .plane__img {
        width: unset;
    }
}

.plane__img img {
    margin: 0 auto;
}

.plane__fasad {
    position: relative;
}

.plane__fasad-navigation {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.plane__fasad-navigation img {
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    pointer-events: fill;
}

.plane__nav {
    width: 185px;
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-text-color);
}

@media (max-width: 991px) {
    .plane__nav {
        margin: 30px 0;
        width: unset;
    }
}

.plane__nav-item {
    cursor: pointer;
}

.plane__nav-item.acticve-color, .plane__nav-item:hover {
    color: var(--active-text-color);
}

.plane__nav-item:not(:last-child) {
    margin-bottom: 5px;
}

.linking {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .linking {
        justify-content: center;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 500px) {
    .linking {
        -moz-column-gap: 15px;
        column-gap: 15px;
    }
}

.linking a {
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-text-color);
}

@media (max-width: 500px) {
    .linking a {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}

.linking a:hover {
    color: var(--hover-text-color);
}

.linking a:hover path {
    stroke: var(--hover-text-color);
}

.linking__prev, .linking__next {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
}

.linking__prev path, .linking__next path {
    stroke: var(--accent-text-color);
}

.rules {
    margin-top: 30px;
}

.contacts {
    margin: 20px 10px;
    background-color: var(--bg-color);
    font-family: "Raleway";
}

.contacts p {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.16;
    color: #000000;
}

@media (max-width: 576px) {
    .contacts p {
        font-size: 20px;
    }
}

.contacts p a {
    font-weight: 700;
}

.contacts p a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .contacts p {
        text-align: center;
        font-size: 20px;
    }
}

.contacts__wrapper {
    padding: 50px 0;
    margin-left: 30px;
    display: flex;
    -moz-column-gap: 100px;
    column-gap: 100px;
    font-size: 14px;
}

@media (max-width: 575px) {
    .contacts__wrapper {
        padding: 20px 0;
        justify-content: center;
        margin-left: 0px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}

.contacts__wrapper a:hover {
    text-decoration: underline;
}

.contacts__left {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contacts__right {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pop-up {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;
    font-family: inherit;
}

.pop-up.active-pop-up {
    display: block;
}

.pop-up__container {
    padding: 0 10px;
    display: flex;
    width: 100%;
    height: 100%;
}

.pop-up__body {
    margin: auto;
    width: 90%;
    height: 80%;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pop-up__close {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .pop-up__close {
        top: 15px;
        right: 20px;
    }
}

.active-pop-up {
    display: flex;
}

.draft {
    padding-bottom: 138px;
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.draft img {
    margin: 0 auto;
}

@media (max-width: 991px) {
    .draft {
        flex-direction: column;
        row-gap: 50px;
        padding-bottom: 50px;
    }
}

.draft__nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--accent-text-color);
}

@media (max-width: 991px) {
    .draft__nav {
        flex-direction: row;
        width: unset;
    }
}

@media (max-width: 575px) {
    .draft__nav {
        font-weight: 700;
        font-size: 14px;
        line-height: 250%;
    }
}

.draft__nav-izometriya, .draft__nav-plan, .draft__nav-square {
    cursor: pointer;
}

.draft__nav-izometriya.draft-text-color-active, .draft__nav-izometriya:hover, .draft__nav-plan.draft-text-color-active, .draft__nav-plan:hover, .draft__nav-square.draft-text-color-active, .draft__nav-square:hover {
    color: var(--active-text-color);
}

.izometriya,
.plan,
.square {
    max-width: 1196px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .izometriya,
  .plan,
  .square {
        width: unset;
    }
}

.level-item {
    cursor: pointer;
}

.level-wrapper {
    max-width: 100px;
}

.level-standart {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 2px;
    background-color: var(--accent-text-color);
    color: var(--bg-color);
}

@media (max-width: 575px) {
    .level-standart {
        margin-bottom: 5px;
    }
}

.color-active {
    background-color: var(--floor-active-color);
}

.header__title-h2 {
    padding: 80px 0 50px;
}

.title-h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.17;
    color: var(--standart-text-color);
}

.sochi {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .sochi {
        flex-direction: column;
        row-gap: 50px;
        padding-bottom: 50px;
    }
}

.sochi__nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--accent-text-color);
}

@media (max-width: 991px) {
    .sochi__nav {
        flex-direction: row;
        width: unset;
    }
}

@media (max-width: 575px) {
    .sochi__nav {
        font-weight: 700;
        font-size: 14px;
        line-height: 250%;
    }
}

.sochi__nav-izometriya, .sochi__nav-plan, .sochi__nav-square {
    cursor: pointer;
}

.sochi__nav-izometriya.draft-text-color-active, .sochi__nav-izometriya:hover, .sochi__nav-plan.draft-text-color-active, .sochi__nav-plan:hover, .sochi__nav-square.draft-text-color-active, .sochi__nav-square:hover {
    color: var(--active-text-color);
}

.sochi + .linking {
    padding-top: 140px;
}

.level-wrapper-sochi-xs,
.level-wrapper-sochi-s,
.level-wrapper-sochi-sss,
.level-wrapper-sochi-m,
.level-wrapper-sochi {
    max-width: 80px;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}

.preloader__scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    pointer-events: none;
}

.preloader__block {
    width: 100%;
    background-color: #fff;
    animation: preloader 1s linear forwards;
    animation-delay: 1s;
}

.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    stroke: #000;
    stroke-width: 2;
    stroke-dasharray: 97;
    stroke-dashoffset: 97;
    animation: draw 1s linear;
    pointer-events: none;
}

@keyframes preloader {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

.burger {
    padding: 0px;
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    outline: none;
    border: none;
    background-color: transparent;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: var(--standart-text-color);
}

.burger::before, .burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--standart-text-color);
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
    background-color: var(--bg-color);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
    background-color: var(--bg-color);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
    background-color: var(--bg-color);
}

@media (max-width: 576px) {
    .burger {
        display: flex;
    }
}

.footer {
    flex: 0 0 auto;
    padding: 50px 0px 50px;
    background-color: var(--bg-color);
}

@media (max-width: 767px) {
    .footer {
        padding: 30px 0px 30px;
    }
}

.footer__line {
    max-width: 1620px;
    height: 1px;
    border: 1px solid #9C9C9C;
}

.footer__soc {
    margin: 60px auto 0;
    max-width: 283px;
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

@media (max-width: 767px) {
    .footer__soc {
        margin: 30px auto 0;
    }
}