@font-face {
    font-family: "Raleway";
    src: url(./../fonts/Raleway-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Raleway";
  src: url(./../fonts/Raleway-ExtraBold.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "CenturyGothic";
  src: url(./../fonts/CenturyGothic-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: "Dongle";
  src: url(./../fonts/Dongle-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "RadioCanada";
  src: url(./../fonts/RadioCanada-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
    --font-family: "Relawey", sans-serif;
    --container-big: 1920px;
    --container-width: 1620px;
    --container-offset: 15px;
    --container-standart: calc(var(--container-width) + (var(--container-offset) * 2));
    --standart-text-color: #000;
    --active-text-color: #0E0E0F;
    --alternative-text-color: #828282;
    --accent-text-color: #717171;
    --bg-color: #F4F3F3;
    --line-color: #9C9C9C;
    --hover-text-color: #CBCBCB;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--standart-text-color);
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    font-family: inherit;
    cursor: pointer;
}

article {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.none {
    display: none;
}

.rotate-img {
    transform: rotate(180deg);
}

.container {
    max-width: var(--container-standart);
    padding: 0 15px;
    margin: 0 auto;
}

.container-big {
    max-width: var(--container-big);
    margin: 0 auto;
}

.line {
    max-width: 1620px;
    height: 1px;
    border: 1px solid var(--line-color);
}

.header {
    padding: 17px 0;
    background-color: var(--bg-color);
}

.header__logo {
    display: flex;
    align-items: center;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.header__logo span {
    font-family: "Dongle";
    font-size: 26px;
    line-height: 0.5;
    color: var(--standart-text-color);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.nav__list {
    display: flex;
    align-items: center;
    -moz-column-gap: 45px;
    column-gap: 45px;
}

.nav__link {
    font-family: "CenturyGothic";
    font-size: 14px;
    line-height: 1.214;
    color: var(--standart-text-color);
}

.button {
    padding: 19px 35px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 0.02em;
    font-family: "CenturyGothic";
    background-color: var(--bg-color);
    border: 1px solid var(--standart-text-color);
    border-radius: 20px;
}

.projects {
    background-color: var(--bg-color);
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.projects__two-row {
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.projects__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "CenturyGothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    z-index: 1;
}

.projects img {
    overflow: hidden;
}

.projects-blur {
    position: relative;
}

.projects-blur:hover img {
    filter: blur(5px);
    overflow: hidden;
    box-shadow: 0 0 0px 0px white inset;
}

.projects-blur:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.projects-blur:hover .projects__name {
    color: rgb(255, 255, 255);
}

.price {
    font-family: "Raleway";
    background-color: var(--bg-color);
}

.price__title {
    padding-top: 37px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.166;
    color: var(--standart-text-color);
}

.price__item {
    padding: 24px 0 38px;
}

.price__header {
    margin-bottom: 20px;
    display: flex;
}

.price__header-name {
    width: 60%;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--standart-text-color);
}

.price__header-private {
    width: 20%;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--alternative-text-color);
}

.price__header-public {
    width: 20%;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.16;
    color: var(--alternative-text-color);
}

.price__elems {
    padding-bottom: 5px;
    display: flex;
}

.price__elems-name {
    width: 60%;
    font-size: 20px;
    line-height: 1.15;
    color: var(--standart-text-color);
}

.price__elems-private {
    width: 20%;
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: var(--alternative-text-color);
}

.price__elems-public {
    width: 20%;
    font-family: "Century Gothic";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.25;
    color: var(--alternative-text-color);
}

.price__elems-name-text {
    margin-top: 15px;
}

.price__ul {
    padding-left: 20px;
    margin-bottom: 25px;
}

.price__li {
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
    position: relative;
}

.price__li::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--standart-text-color);
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.price__li span {
    font-weight: 800;
    font-size: 20px;
}

.price__term {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
}

.price__term span {
    font-weight: 800;
    font-size: 20px;
}

.price__grey {
    padding-bottom: 18px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--accent-text-color);
}

.price__sub-ul {
    margin: 20px 0;
}

.price__sub-li {
    font-size: 12px;
    line-height: 1.1666;
    color: var(--standart-text-color);
    position: relative;
}

.price__sub-li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--standart-text-color);
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}

.price__show-all {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: var(--standart-text-color);
    cursor: pointer;
}

.arrow-left {
    display: inline-block;
    padding: 0 10px;
}

.arrow {
    pointer-events: none;
}

.arrow__wrapper {
    display: flex;
    align-items: center;
    -moz-column-gap: 15px;
    column-gap: 15px;
    cursor: pointer;
}

.arrow__wrapper p {
    pointer-events: none;
}

.arrow__sub-wrapper {
    cursor: pointer;
}

.about {
    background-color: var(--bg-color);
}

.about__row {
    padding: 69px 0 0;
    display: flex;
    -moz-column-gap: 260px;
    column-gap: 260px;
}

.about__title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--standart-text-color);
}

.about__content {
    max-width: 334px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__content p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.1875;
    color: var(--standart-text-color);
}

.about__content p span {
    font-weight: 600;
}

.about__img {
    width: 1024px;
    height: 590px;
    border: 1px solid #D9D9D9;
}

.project {
    font-family: "Raleway";
    background-color: var(--bg-color);
}

.project__img img {
    width: 100%;
    height: calc(100vh - 74px);
    -o-object-fit: cover;
    object-fit: cover;
}

.project__content {
    padding-top: 75px;
    padding-bottom: 50px;
}

.project__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.667;
    color: var(--standart-text-color);
}

.project__description {
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--standart-text-color);
}

.project__description span {
    font-weight: 400;
}

.slider {
    padding-bottom: 145px;
    display: flex;
    justify-content: space-between;
}

.slider__list {
    max-width: 1196px;
    height: auto;
    border: 1px solid red;
}

.slider__item {
    cursor: pointer;
}

.slider__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border: 1px solid red;
}

.slider__nav img {
    width: 185px;
    height: 185px;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    position: relative;
}

.plane {
    padding-bottom: 138px;
    display: flex;
    justify-content: space-between;
}

.plane__img {
    width: 1196px;
}

.plane__img img {
    margin: 0 auto;
}

.plane__nav {
    width: 185px;
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-text-color);
}

.plane__nav-item {
    cursor: pointer;
}

.plane__nav-item.acticve-color, .plane__nav-item:hover {
    color: var(--active-text-color);
}

.plane__nav-item:not(:last-child) {
    margin-bottom: 5px;
}

.linking {
    display: flex;
    justify-content: space-between;
}

.linking a {
    font-family: "Century Gothic";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--accent-text-color);
}

.linking a:hover {
    color: var(--hover-text-color);
}

.linking a:hover path {
    stroke: var(--hover-text-color);
}

.linking__prev, .linking__next {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
}

.linking__prev path, .linking__next path {
    stroke: var(--accent-text-color);
}

.footer {
    padding: 50px 0px 50px;
    background-color: var(--bg-color);
}

.footer__line {
    max-width: 1620px;
    height: 1px;
    border: 1px solid #9C9C9C;
}

.footer__soc {
    margin: 60px auto 0;
    max-width: 283px;
    display: flex;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.footer__svg {
    fill: #717171;
}

.footer__svg path {
    fill: #E6E6E6;
}

.footer__svg:hover circle {
    fill: #8888FD;
}